@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title> @title </title>

    <link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="@routes.Assets.at("javascripts/jquery.transit_dev.js")"></script>
    <script src="@routes.Assets.at("javascripts/raphael-min.js")"></script>
    <script src="@routes.Assets.at("javascripts/g.raphael-min.js")"></script>

    <script src="@routes.Assets.at("typescript/common.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("typescript/main.js")" type="text/javascript"></script>
</head>
<body onload="run();">
    <table id="magic" border="0">
        <tr class="topAlign">
            <td id="menu" style="z-index: 10">

                <div id="menuSelector"></div>
                <div id="menuSelectorBackground"></div>

                <table id="menuTable">
                </table>
            </td>
            <td id="content">
                <table>
                    <tr>
                        <td>
                            <div id="sectionContainer">
                                <table id="sectionTable">
                                </table>
                            </div>
                        </td>
                        <td class="zeroHeight">
                            <table id="itemListContainerTable">
                                <tr>
                                    <td id="itemListDivider"> <div></div> </td>
                                    <td id="itemListContainerCell">
                                        <div id="itemListContainer">
                                            <div id="itemList">
                                                <input id="newItemInput"/>
                                                <ul id="itemListItemContainer">
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

<script type="text/template" id="menuTemplate">
<tr>
    <td id="{0}" class="menuItem">
        <div>
                {1}
        </div>
    </td>
</tr>
</script>