.hidden {
    display: none;
}

.noPadding {
    padding: 0px;
    margin: 0px;
}

* {
    padding: 0px;
    margin: 0px;
}

.inline {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.zeroHeight {
    position: relative;
    height: 0px;
}

.topAlign {
    vertical-align: top;
}

.fullFrame {
    width: 100%;
    height: 100%;
}

.noOverflow {
    overflow: hidden;
}

.fontMenu {
    font-family: 'Days One', sans-serif;
}

.fontMenu2 {
    font-family: 'Noto Sans', sans-serif;
}

.fontText {
    font-family: 'Roboto', sans-serif;
}

.roundTopRight {
    border-top-right-radius: 5px;
}

.roundBottomRight {
    border-bottom-right-radius: 5px;
}

#chartsCell {
    position: relative;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    -webkit-perspective: 0px;
    perspective: 0px;
}

#chartsSongListContainer {
    position: absolute;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    overflow-y: auto;
    background: #f0fcff;
    box-shadow: black 0px 0px 20px;
}

#chartSongTable {
    width: 100%;
    height: 100%;
}

#chartSongContainer {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-bottom: 1px solid #343434;
}

#chartSongImageContainer {
    width: 150px;
    vertical-align: middle;
}

#chartSongImageContainer img {
    width: 150px;
}

#chartMenuContainer {
    width: 130px;
    height: 100px;
}

#chartChangeCell {
    height: 30px;
}

#chartChangeContainer {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

#chartRankContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    width: 33%;
    height: 40px;
}

#chartChangeArrowContainer {
    position: absolute;
    right: 20px;
    bottom: 0px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    width: 33%;
    height: 100%;
}

#chartRankChangeContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    display: inline-block;
    font-size: 15px;
    vertical-align: bottom;
    text-align: center;
    width: 20%;
    height: 15px;
}

.chartChangeArrowUp {
    font-family: 'Roboto', sans-serif;
    color: #418440;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    width: 45px;
    height: 100%;
}

.chartChangeArrowDown {
    font-family: 'Roboto', sans-serif;
    color: #418440;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    width: 45px;
    height: 100%;
    color: #c14543;
}

.chartChangeArrowEqual {
    font-family: 'Roboto', sans-serif;
    color: #418440;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    width: 45px;
    height: 100%;
    color: #343434;
}

#chartTitleContainer {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 25px;
    text-align: center;
    width: 300px;
    height: 30px;
    overflow: hidden;
}

#chartArtistContainer {
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}

#rankContainerCell {
    width: 120px;
    margin: 0 auto;
}

#rankContainerCell div {
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 24px;
}

.chartMenuButton {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #343434;
    font-size: 15px;
    cursor: pointer;
}

.chartMenuButton:hover {
    background: #c14543;
}

#chartsWhenButton {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 0px;
    right: -100px;
    font-family: 'Noto Sans', sans-serif;
    width: 100px;
    height: 50px;
    background: #f0fcff;
    color: #343434;
    font-size: 30px;
    cursor: pointer;
}

#chartsWhenButton:hover {
    background: #f0fcff;
}

#chartsDoneButton {
    display: none;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 0px;
    right: -100px;
    font-family: 'Noto Sans', sans-serif;
    width: 100px;
    height: 50px;
    background: #418440;
    color: #343434;
    font-size: 30px;
    cursor: pointer;
}

#chartsDoneButton:hover {
    background: #c14543;
}

#chartsCancelButton {
    display: none;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 50px;
    right: -100px;
    font-family: 'Noto Sans', sans-serif;
    width: 100px;
    height: 50px;
    background: #c14543;
    color: #343434;
    font-size: 30px;
    cursor: pointer;
}

#chartsCancelButton:hover {
    background: #c14543;
}

#chartsYearContainer {
    position: absolute;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(240, 252, 255, 0.5);
}

#chartsYearContainer table {
    width: 100%;
    height: 100%;
}

#chartsYearContainer td {
    text-align: center;
    width: 50%;
    height: 50%;
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    cursor: pointer;
}

#chartsYearContainer td:hover {
    background: #c14543;
}

#chartsMonthContainer {
    position: absolute;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(240, 252, 255, 0.5);
}

#chartsMonthContainer table {
    width: 100%;
    height: 100%;
}

#chartsMonthContainer td {
    text-align: center;
    width: 33%;
    height: 25%;
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    cursor: pointer;
}

#chartsMonthContainer td:hover {
    background: #c14543;
}

#chartsWeekContainer {
    position: absolute;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(240, 252, 255, 0.5);
}

#chartsWeekContainer table {
    width: 100%;
    height: 100%;
}

#chartsWeekContainer td {
    text-align: center;
    width: 33%;
    height: 25%;
    cursor: pointer;
}

#chartsWeekContainer td:hover {
    background: #c14543;
}

#chartsWeekContainer td span {
    color: #010101;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#chartsWeekContainer td span:first-child {
    color: #343434;
    display: block;
    font-size: 30px;
}

#chartsDayContainer {
    position: absolute;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(240, 252, 255, 0.5);
}

#chartsDayContainer table {
    width: 100%;
    height: 100%;
}

#chartsDayContainer td {
    text-align: center;
    width: 50%;
    height: 25%;
    cursor: pointer;
}

#chartsDayContainer td:hover {
    background: #c14543;
}

#chartsDayContainer td span {
    color: #010101;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#chartsDayContainer td span:first-child {
    color: #343434;
    display: block;
    font-size: 30px;
}
