.hidden {
    display: none;
}

.noPadding {
    padding: 0px;
    margin: 0px;
}

* {
    padding: 0px;
    margin: 0px;
}

.inline {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.zeroHeight {
    position: relative;
    height: 0px;
}

.topAlign {
    vertical-align: top;
}

.fullFrame {
    width: 100%;
    height: 100%;
}

.noOverflow {
    overflow: hidden;
}

.fontMenu {
    font-family: 'Days One', sans-serif;
}

.fontMenu2 {
    font-family: 'Noto Sans', sans-serif;
}

.fontText {
    font-family: 'Roboto', sans-serif;
}

.roundTopRight {
    border-top-right-radius: 5px;
}

.roundBottomRight {
    border-bottom-right-radius: 5px;
}

#playListsContainer {
    position: relative;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    -webkit-perspective: 0px;
    perspective: 0px;
}

.playListTable {
    position: absolute;
    height: 350px;
    top: 0px;
    left: 0px;
}

.playListsHeaderCell {
    font-family: 'Noto Sans', sans-serif;
    color: #ddefff;
    font-size: 30px;
    height: 50px;
}

#playlistSongContainer {
    background: #e1f1ff;
    width: 570px;
    height: 350px;
    overflow-y: auto;
    border: 1px solid #dfece6;
    border-radius: 2px;
    box-shadow: 0px 0px 5px black;
}

#playlistSongContainer img {
    margin: 3px;
}

#playListsFooterCell {
    height: 30px;
}

#playPlaylistButton {
    border: none;
    background: #dcddb1;
    color: #414850;
    font-size: 30px;
    height: 50px;
    width: 15 0px;
    float: right;
}

#playPlaylistButton:hover {
    background: #ffffff;
}

#deletePlaylistButton {
    position: absolute;
    right: -35px;
    top: 50px;
    background: url("/assets/images/delete.png");
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#sharePlaylistButton {
    font-family: 'Noto Sans', sans-serif;
    padding: 3px;
    background: #dcddb1;
    color: #414850;
    font-size: 15px;
    float: right;
    cursor: pointer;
}

#sharePlaylistButton:hover {
    background: #ffffff;
}

.box {
    position: absolute;
    top: 81%;
    left: 101%;
    width: 200px;
    z-index: 100;
}

#facebookButton {
    border: none;
    left: 0px;
    padding-left: 15px;
    background: #dcddb1;
    color: #414850;
    font-size: 15px;
    width: 120px;
    text-align: left;
}

#facebookButton:hover {
    background: #dfece6;
}

#twitterButton:hover {
    background: #dfece6;
}

#googleButton:hover {
    background: #dfece6;
}

#twitterButton {
    border: none;
    padding-left: 15px;
    background: #dcddb1;
    color: #414850;
    font-size: 15px;
    width: 120px;
    text-align: left;
}

#googleButton {
    border: none;
    padding-left: 15px;
    background: #dcddb1;
    color: #414850;
    font-size: 15px;
    width: 120px;
    text-align: left;
}

#facebookPic {
    background: #dcddb1;
    margin-top: 2px;
}

#twitterPic {
    background: #dcddb1;
    margin-top: 2px;
}

#googlePic {
    background: #dcddb1;
    margin-top: 2px;
}
