@import "common";

#playListsContainer {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  -webkit-perspective: 100px;
}

.playListTable {
  position: absolute;
  width: 580px;
  height: 500px;
  top: 0px;
  left: 0px;

}

.playListsHeaderCell {
  .fontMenu2;
  color: @foreground_text;
  font-size: 30px;
  height: 50px;
}

#playlistSongContainer {
  background: @background_variant;
  border: 5px solid @foreground_variant;
  width: 570px;
  height: 100%;
  box-shadow: black 0px 0px 20px;
  overflow-y: auto;
}

#playlistSongContainer img {
  margin: 3px;
}

#playListsFooterCell {
  height: 30px;
}

#playPlaylistButton {
  border: none;
  background: @foreground_text;
  color: @playButton;
  font-size: 30px;
  height: 50px;
  width: 100px;
  float: right;
}

#playPlaylistButton:hover {
  background: lighten(@foreground_focus, 20%);
}

#deletePlaylistButton {
  border: none;
  background: @foreground_focus;
  color: @foreground_text;
  font-size: 15px;
  height: 30px;
  width: 50px;
  float: right;
}

#deletePlaylistButton:hover {
  background: lighten(@foreground_focus, 20%);
}