.hidden {
    display: none;
}

.noPadding {
    padding: 0px;
    margin: 0px;
}

* {
    padding: 0px;
    margin: 0px;
}

.inline {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.zeroHeight {
    position: relative;
    height: 0px;
}

.topAlign {
    vertical-align: top;
}

.fullFrame {
    width: 100%;
    height: 100%;
}

.noOverflow {
    overflow: hidden;
}

.fontMenu {
    font-family: 'Days One', sans-serif;
}

.fontMenu2 {
    font-family: 'Noto Sans', sans-serif;
}

.fontText {
    font-family: 'Roboto', sans-serif;
}

.roundTopRight {
    border-top-right-radius: 5px;
}

.roundBottomRight {
    border-bottom-right-radius: 5px;
}

#radioTable {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    overflow-y: auto;
    table-layout: fixed;
}

#radioCriteriaTableContainer {
    overflow-y: auto;
    height: 100%;
}

#radioMenuCell {
    width: 200px;
    vertical-align: top;
    padding: 5px;
}

.radioManagerButton {
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #343434;
    font-size: 15px;
    width: 100%;
}

.radioManagerButton:hover {
    background: #c14543;
}

.radioManagerButtonLarge {
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #343434;
    font-size: 15px;
    width: 100%;
    color: #418440;
    background: #343434;
    font-size: 40px;
}

.radioManagerButtonLarge:hover {
    background: #c14543;
}

#radioBuilderTable {
    width: 100%;
    height: 100%;
    background: #d8d8d8;
    border: 5px solid #d8d8d8;
    box-shadow: #000 0px 0px 20px inset;
}

#radioAddButtonCell {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    width: 100%;
    height: 30px;
    color: #418440;
    text-align: center;
    background: #343434;
}

#radioAddButtonCell:hover {
    background: #da9190;
}

.radioCriteriaOption {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    height: 30px;
    color: #343434;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: #000 0px 0px 4px;
}

.radioCriteriaOption input {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    border-radius: 5px;
    height: 15px;
    width: 250px;
    box-shadow: #000 0px 0px 5px;
}

.radioCriteriaOption:hover {
    background: #c14543;
}

#radioCriteriaContainer {
    display: none;
    position: absolute;
    width: 450px;
    left: 15px;
    top: 0px;
}

#radioCriteriaTable {
    width: 100%;
    box-shadow: #222 0px 10px 10px;
}

.radioCriteriaTableCell {
    vertical-align: top;
    width: 100%;
}

.radioCriteriaCell {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 15px;
    text-align: center;
    background: #ffffff;
    height: 30px;
}

.radioCriteriaCloseCell {
    background: #c14543;
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 50px;
    cursor: pointer;
}

.radioCriteriaCloseCell:hover {
    background: #da9190;
}
