.hidden {
    display: none;
}

.inline {
    display: inline-block;
}

.zeroHeight {
    position: relative;
    height: 0px;
}

.topAlign {
    vertical-align: top;
}

.fullFrame {
    width: 100%;
    height: 100%;
}

.noOverflow {
    overflow: hidden;
}

.fontMenu {
    font-family: 'Days One', sans-serif;
}

.fontMenu2 {
    font-family: 'Noto Sans', sans-serif;
}

.fontText {
    font-family: 'Roboto', sans-serif;
}

.roundTopRight {
    border-top-right-radius: 5px;
}

.roundBottomRight {
    border-bottom-right-radius: 5px;
}

#searchMainCell {
    height: 450px;
}

#searchCell {
    width: 600px;
    vertical-align: middle;
    position: relative;
}

#searchTableContainer {
    position: relative;
    height: 450px;
}

#searchStage {
    position: relative;
    height: 450px;
    -webkit-perspective: 0px;
    perspective: 0px;
}

.searchTable {
    height: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#searchMenuCell {
    height: 50px;
}

#searchMenuFooter {
    width: 100%;
    height: 100%;
    height: 10px;
    background: #589c9b;
}

.searchMenuSelector {
    width: 100%;
    height: 100%;
    font-family: 'Days One', sans-serif;
    color: #edfffc;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    background: #346661;
    display: inline-block;
    list-style-type: none;
}

.searchMenuSelector input {
    display: none;
}

.searchMenuSelector:hover {
    width: 100%;
    height: 100%;
    font-family: 'Days One', sans-serif;
    color: #edfffc;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    background: #346661;
    display: inline-block;
    list-style-type: none;
    background: #9c5b4d;
}

.searchMenuSelectorSelected {
    width: 100%;
    height: 100%;
    font-family: 'Days One', sans-serif;
    color: #edfffc;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    background: #346661;
    display: inline-block;
    list-style-type: none;
    background: #589c9b;
}

#searchPageContainer {
    width: 600px;
    height: 100%;
    overflow: visible;
}

#searchPageTable {
    height: 100%;
    position: relative;
}

.searchPage {
    position: relative;
    width: 600px;
    height: 100%;
}

.searchPageSongContainer {
    position: relative;
    height: 400px;
    margin: 0 auto;
    width: 580px;
    background: #346661;
    overflow-y: scroll;
    overflow-x: hidden;
}

.searchPageSongContainerFocused {
    position: relative;
    height: 400px;
    margin: 0 auto;
    width: 580px;
    background: #346661;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #589c9b;
}

#searchSongListTable {
    width: 570px;
    height: 160px;
    margin-bottom: 10px;
}

#searchLargeImageContainer {
    position: relative;
    width: 150px;
    top: 15px;
}

#searchSongListContainerWrapper {
    position: relative;
    left: 10px;
    width: 400px;
    height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
    float: left;
}

#searchSongListContainer {
    float: left;
}

#searchSongListContainer > .inline {
    display: table-cell;
}

#searchSongTitle {
    padding-left: 10px;
    color: #edfffc;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 50px;
    overflow: hidden;
}

.searchLoadingContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.searchLoadingContainer img {
    position: relative;
    top: 100px;
    left: 150px;
}

.noSimilarSongsTitle {
    font-family: 'Roboto', sans-serif;
    color: #86bbba;
    font-size: 20px;
    float: left;
    position: relative;
    top: 50px;
}

.noSimilarSongsSadFace {
    font-family: 'Noto Sans', sans-serif;
    color: #86bbba;
    font-size: 100px;
    float: left;
    position: relative;
    top: -15px;
}

.searchSimilarSong {
    padding-right: 10px;
}

.searchSimilarLoadingContainer {
    position: absolute;
    left: 150px;
}

.searchSimilarLoadingContainer img {
    width: 100px;
    height: 100px;
}
