/*
@background: #5E9FA3;
@background_variant: #7ea9a5;
@foreground: #FAB87F;
@foreground_variant: #F87E7B;
@foreground_focus: #f98c62;
@foreground_text: #343434;
*/
/*@background: #BED2D9;
@background_variant: #CBDBE0;
@foreground: #F7F9FE;
@foreground_variant: #ECF1F2;
@foreground_focus: #542437;
@foreground_text: #343434;
*/
/*@background: #69D2E7;
@background_variant: #61b2b0;
@foreground: #c7fffc;
@foreground_variant: #F38630;
@foreground_focus: #542437;
@foreground_text: #343434;*/
/*@background: #425c5f;
@background_variant: #4a7174;
@foreground: #92d8db;
@foreground_variant: #C02942;
@foreground_focus: #542437;
@foreground_text: #343434;*/
.hidden {
    display: none;
}

.noPadding {
    padding: 0px;
    margin: 0px;
}

* {
    padding: 0px;
    margin: 0px;
}

.inline {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.zeroHeight {
    position: relative;
    height: 0px;
}

.topAlign {
    vertical-align: top;
}

.fullFrame {
    width: 100%;
    height: 100%;
}

.noOverflow {
    overflow: hidden;
}

.fontMenu {
    font-family: 'Days One', sans-serif;
}

.fontMenu2 {
    font-family: 'Noto Sans', sans-serif;
}

.fontText {
    font-family: 'Roboto', sans-serif;
}

.roundTopRight {
    border-top-right-radius: 5px;
}

.roundBottomRight {
    border-bottom-right-radius: 5px;
}

#searchMainCell {
    height: 450px;
}

#searchCell {
    width: 600px;
    vertical-align: middle;
    position: relative;
}

#searchTableContainer {
    position: relative;
    height: 450px;
}

#searchStage {
    position: relative;
    height: 450px;
}

.searchTable {
    height: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#searchMenuCell {
    height: 50px;
}

#searchMenuFooter {
    width: 100%;
    height: 100%;
    height: 10px;
    background: #7f8d9c;
}

.searchMenuSelector {
    width: 100%;
    height: 100%;
    font-family: 'Days One', sans-serif;
    margin: 0px;
    color: #414850;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    background: #4b535d;
    display: inline-block;
    list-style-type: none;
}

.searchMenuSelector input {
    display: none;
}

.searchMenuSelector:hover {
    width: 100%;
    height: 100%;
    font-family: 'Days One', sans-serif;
    margin: 0px;
    color: #414850;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    background: #4b535d;
    display: inline-block;
    list-style-type: none;
    background: #dfece6;
}

.searchMenuSelectorSelected {
    width: 100%;
    height: 100%;
    font-family: 'Days One', sans-serif;
    margin: 0px;
    color: #414850;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    background: #4b535d;
    display: inline-block;
    list-style-type: none;
    background: #7f8d9c;
}

#searchPageContainer {
    width: 600px;
    height: 100%;
    overflow: visible;
}

#searchPageTable {
    height: 100%;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.searchPage {
    position: relative;
    width: 600px;
    height: 100%;
}

.searchPageSongContainer {
    position: relative;
    height: 400px;
    margin: 0 auto;
    width: 580px;
    background: #4b535d;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #4b535d;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #2c3136;
}

.searchPageSongContainer:hover {
    overflow-y: auto;
}

.searchPageSongContainerFocused {
    position: relative;
    height: 400px;
    margin: 0 auto;
    width: 580px;
    background: #4b535d;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #4b535d;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #2c3136;
    background: #b3c6dc;
}

#searchSongListTable {
    width: 570px;
    height: 150px;
    margin-bottom: 10px;
    overflow: hidden;
}

#searchLargeImageContainer {
    position: relative;
    width: 135px;
    top: 15px;
}

#searchSongListContainerWrapper,
#searchGenreListContainerWrapper {
    position: relative;
    left: 10px;
    width: 400px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
}

#searchSongListContainerWrapper {
    -webkit-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}

#searchSongListContainerWrapper:hover,
#searchGenreListContainerWrapper:hover {
    overflow-x: auto;
}

#searchGenreListContainerWrapper {
    width: 550px;
}

#searchGenreSimilarLoadingContainer {
    left: 225px;
}

#searchSongListContainer,
searchGenreListContainer {
    float: left;
}

#searchSongListContainer {
    margin-left: 20px;
}

#searchSongListInfo {
    position: absolute;
    left: -20px;
    top: 40px;
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
    color: #58616c;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

#searchSongListContainer > .inline,
#searchGenreListContainer > .inline {
    display: table-cell;
}

#searchSongTitle,
#searchGenreTitle {
    padding-left: 10px;
    color: #414850;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 30px;
    overflow: hidden;
}

#searchSongTitle {
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}

.searchLoadingContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.searchLoadingContainer img {
    position: relative;
    top: 100px;
    left: 150px;
}

.noSimilarSongsTitle {
    font-family: 'Roboto', sans-serif;
    color: #aab3bd;
    font-size: 20px;
    float: left;
    position: relative;
    top: 50px;
}

.noSimilarSongsSadFace {
    font-family: 'Noto Sans', sans-serif;
    color: #aab3bd;
    font-size: 100px;
    float: left;
    position: relative;
    top: -15px;
}

.searchSimilarSong {
    padding-right: 10px;
}

.searchSimilarLoadingContainer {
    position: absolute;
    left: 150px;
}

.searchSimilarLoadingContainer img {
    width: 100px;
    height: 100px;
}

#searchPageDelete {
    position: absolute;
    right: 10px;
    bottom: -20px;
    padding-left: 5px;
    padding-right: 5px;
    background: #dfece6;
    font-family: 'Noto Sans', sans-serif;
    color: #414850;
    cursor: pointer;
}

#searchPageDelete:hover {
    background: #7f8d9c;
}

#loadMoreHorizontal {
    width: 200px;
    height: 15px;
    margin: 0 auto;
    background: #414850;
    color: #2c3136;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    border: 1px solid #b3c6dc;
    border-radius: 3px;
    cursor: pointer;
}

#loadMoreHorizontal:hover {
    background: #d6e0ec;
}

#loadMoreVertical {
    vertical-align: middle;
    display: table-cell;
    background: #414850;
    color: #2c3136;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 10px;
    border: 1px solid #b3c6dc;
    border-radius: 3px;
    cursor: pointer;
}

#loadMoreVertical:hover {
    background: #d6e0ec;
}

.loadMoreVerticalText {
    width: 15px;
}
