@(songs: List[model.Song], playlists: List[model.Playlist])


<!DOCTYPE html>

<html>
    <head>
        <title> Search Result </title>
    </head>
    <body>
        <div class="searchResult">
            @for(song <- songs) {
                <div class="searchItemTableContainer">
                    <table class="searchItemTable" songId="@song.mbid" songTitle="@song.title" songArtist="@song.artist" songImage="@song.imageUrl">
                        <tr>
                            <td rowspan="2" class="searchItemImage"><img src="@song.imageUrl" /></td>
                            <td class="searchItemTitle">@song.title</td>
                            <td rowspan="2" class="searchItemOptionContainer"></td>
                        </tr>
                        <tr>
                            <td>@song.artist</td>
                        </tr>
                    </table>
                </div>
            }
        </div>

        <div id="searchOptionContainer">
            <div id="searchOptionButtonContainer">
                <img id="searchPlaySong" class="searchOption" src="@routes.Assets.at("images/play.png")" />
                <hr />
                <img id="searchAddToPlaying" class="searchOption" src="@routes.Assets.at("images/add_playing.png")" />
            </div>
            <div id="searchPlaylistOptionContainer">
                <input id="searchNewPlaylistInput" />
                <hr />
                @for(playlist <- playlists) {
                    <div class="searchPlaylistItem" playlistId="@playlist.id">@playlist.title</div>
                }
            </div>
        </div>
    </body>
</html>

