@(playlists: List[model.Playlist])

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/mobile/search.css")">
        <script type="text/javascript" src="@routes.Assets.at("typescript/mobile/search.js")"></script>
        <title> Search </title>
    </head>
    <body>
        @mobile.items(Nil) {
            <div>No Searches Performed</div>
        }

        <div id="searchOptionContainer">
            <div>
                <img id="searchPlaySong" class="searchOption" src="@routes.Assets.at("images/play.png")" />
                <img id="searchAddToPlaying" class="searchOption" src="@routes.Assets.at("images/add_playing.png")" />
                <img id="searchAddToPlaylist" class="searchOption" src="@routes.Assets.at("images/add_playlist.png")" />
            </div>
            <div id="searchPlaylistOptionContainer">
                <input id="searchNewPlaylistInput" />
                <hr />
                @for(playlist <- playlists) {
                    <div class="searchPlaylistItem" playlistId="@playlist.id">@playlist.title</div>
                }
            </div>
        </div>
    </body>
</html>

