@(playlists: List[model.Playlist])
@import modelview.Item

    <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/mobile/playlists.css")">
        <script type="text/javascript" src="@routes.Assets.at("typescript/mobile/playlists.js")"></script>
        <title> Playlist </title>
    </head>
    <body>
        @mobile.items(playlists.map(p => Item(p.id.get.toString, p.title))) {
            <div>No PlayLists Found</div>
        }
        <div id="playlistOptionContainer">
            <div>
                <img class="searchOption" id="playNow" src="@routes.Assets.at("images/play.png")" />
                <img id="searchFromHere" class="searchOption" src="@routes.Assets.at("images/search.png")" />
                <img id="deleteSong" class="searchOption" src="@routes.Assets.at("images/delete.png")" />
            </div>
        </div>

    </body>
</html>

