@(title: String, name: String, soundCloudId: String, lastFmApiKey: String)

<!DOCTYPE html>

<html>
    <head>
        <title> @title </title>

        <link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript">
            var soundCloudId =
            @Html("\"" + soundCloudId + "\"")
            ;
            var lastFmApiKey =
            @Html("\"" + lastFmApiKey + "\"")
            ;
        </script>

        <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script src="@routes.Assets.at("javascripts/rickshaw.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/d3.v2.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.transit_dev.js")"></script>
        <script src="@routes.Assets.at("javascripts/md5.js")"></script>

        <script src="@routes.Assets.at("typescript/common.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("typescript/main.js")" type="text/javascript"></script>
    </head>
    <body onload="run();">
        <div id="nameContainer"> @name </div>

        <div id="mainLoader">
            <img src="@routes.Assets.at("images/loader.gif")" />
        </div>

        <div id="songDetailContainer">
            <div id="songDetailMenuCell">
                <div class="songDetailMenuItem"> Play </div>
                <div class="songDetailMenuItem"> Play </div>
                <div class="songDetailMenuItem"> Play </div>
            </div>
            <div id="songDetailBioCell"></div>
        </div>

        <div id="chartPlaylistContainer"></div>

        <div id="songMenuContainer">
            <div class="songMenuItem"> Delete </div>
            <div class="songMenuItem"> Delete All </div>
        </div>

        <table id="magic" border="0">
            <tr class="topAlign">
                <td id="menu" style="z-index: 10">

                    <div id="menuSelector"></div>

                    <table id="menuTable">
                    </table>
                </td>
                <td id="content">
                    <table>
                        <tr>
                            <td>
                                <div id="sectionContainer" class="sectionContainer">
                                    <table id="sectionTable">
                                    </table>
                                </div>
                            </td>
                            <td id="itemListCell" class="zeroHeight itemListCell">
                                <div id="itemListDivider"></div>
                                <div id="itemListContainer" class="itemListContainer" >
                                    <div id="itemList">
                                        <input id="newItemInput"/>
                                        <ul id="itemListItemContainer">
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div id="globalPlaylistContainer" class="globalPlaylistContainer">
            <div id="bottomPlayBar"></div>
            <div id="playButtonContainer">
                <a class="hidden" id="soundCloudPlayer" class="sc-play" href="http://soundcloud.com/matas/hobnotropic"></a>
                <div id="playControllsContainer">
                    <div id="previousButton"> <img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUZEQUk2xXr5wAAAS9JREFUOMut1a9LQ1EUAODPsYH6mIJFDIJB/wLz27rJIAqCZouCRQT/AbEImsSmYBCDyf7ea4LVokHQYjE4tgkzWDZ9jM39POnCPefjHO693BEIC8UFbGHMX+TwmMTRsTZRKtfkg1yjvprE0Vu2vjeL7TqSjnscd8AWcY4D/ILfqGCyqa7SRWc3mEEZMnqMFDaFO8zhq7Gf6RObxi3mm3MyfWATOEHYKq9rMB/8ntcRVtvlZXsZOSwUL7DxX06mB+ywE9Y1GBaK69jtJrfnazMUMImjq3Yvpu8Okzjax+VQR07iaBNnQwFL5VpjuYfrgcF8kFMq1yRx9IkdJAOPnELfsYznga9NCv3AEl4w2gxmMd6ifrwD+oQVPCJIv+VXnLb6Ajp1mg9yD2GhuIYq/AAJWGY/lfWs3gAAAABJRU5ErkJggg==" /> </div>
                    <div id="nextButton"> <img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUZEQYWOO/ppAAAAS5JREFUOMutlS1LREEUhh8vG/wAg8WiYNAimMznTDcZREXQtCAGhS0iu7BhYRexCCatCqJiMNln5h8oWNYg2A2CH6DBssKw3Hv37jIvTHkHnnnPzHDOEIComQJGvLPtaq1Oq9kgS6KmAswDP4H9BZx6Z9tJx1gArkXNYqvZoFqrk6N1oAzsBGsXmAb4B350Tr0VNXM9oJ8Z3m8IBPgGZoB7UTNRIGmqkhRvFrgTNZODQJOsuwdORM14v9AkZ28VOAJyX70fIMC2qDmPUXKoTVFzGBMIUBE1GzGBxE547J29jAW88M4exEp45p3dilXyDbAPRPnYHtjzzr73amfdKqV4z8Cyd/atX1h3wmHgBVgaFBYCx4AnYKVA1x7N8EphyY/AWpERAFwBDykj4BXgD/vbag/G71d3AAAAAElFTkSuQmCC" /> </div>
                    <div id="playButton" class="playButtonPaused">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUZEDMpLXpsGAAAAZlJREFUWMPFlb9LAzEcR19PcVFEcFEwIOKk4CZuxaqDUJxcxNEhuLhIXJxcXCQguIgBZ/8BF5cK4uAg4mIXhxYy2IKDBbupdUlBSvW8H+l9l8AluXufl+QCHaWtKbiWXlTQ5VleW/MOLGQFkAMGgTttzYlvG0FI/462xgKTWQEATAAVbc2eDxtBhLFH2ppHYDgrAIA5oKGt2UjLRlSAnGsvtDWXQF9SiCDB3CLwBhSyAgAYAkramtO4SxKktJe2tTUvwHRWAABjwLO2Zj+KjcDDv+VQW/MEjGYFADADvGprtsJs+AJo17m2pgTkfoPwDYA7ph/AYlYA7e9ca2tWOjv6ewTQAJaUkA9ZGDhTQo4AD906fRqoActKyDKAErKnm/BYCTkOlMMGpm2g4ta6+ldqXwYOlJBTQDXKpDQMlF3q+n9Tp2lgVwk5C9TjviCugXtgTQlZi5M6roFW++5XQs67Y5a4ohi4dakbSVPHMbCphMy7X2qqFWbgClhXQjbTTB1moAV8AUUl5CrQ9HlRdDNwAwwAn75S/6xvL215dAYjJ9MAAAAASUVORK5CYII=" />
                    </div>
                    <div id="seekSlider"></div>
                </div>
                <div id="globalPlaylistHeader">
                    <span id="durationText"> 00:00 </span>
                    <img id="volumeButton" src="@routes.Assets.at("images/volume_button.png")"/>
                    <div id="volumeSliderContainer">
                    </div>
                </div>
            </div>
            <div id="globalPlaylistSongContainer" class="globalPlaylistSongContainer"></div>
        </div>

        <div id="tutorialContainer"></div>

    </body>
</html>

<script type="text/template" id="menuTemplate">
    <tr>
        <td id="{0}" class="menuItem">
            <div>
                {1}
            </div>
        </td>
    </tr>
</script>

<script type="text/template" id="imageMock">
    <img id="songImage" width="100" height="100" class="songImage" src="/assets/images/logo.gif" />
    <div class="imageInfo">
        <div class="imageTitle">
            {0} </div>
        <div class="imageArtist">
            {1} </div>
    </div>
</script>

<script type="text/template" id="imageLargeMock">
    <img width="150" height="150" class="songImage" src="/assets/images/logo.gif" />
</script>

<script type="text/template" id="songDetailOptionTemplate">
    <div id="songDetailMenuItem" class="songDetailMenuItem">
        {0}
    </div>
    <div id=songDetailSubOptionsContainer class="songDetailSubOptionsContainer">
        <input id="songDetailPlaylistInput" />
        <ul id="songDetailSubOptionsList">
        </ul>
    </div>
</script>

<script type="text/template" id="songDetailArtistTemplate">
    <table>
        <tr>
            <td> <img id="songDetailImage" src="{0}" /> </td>
            <td>
                <div>
                    {1} </div>
                <div>
                    {2} </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {3} </td>
        </tr>
        <tr>
            <td colspan="2">
                {4} </td>
        </tr>
    </table>
</script>