.hidden {
  display: none;
}
.noPadding {
  padding: 0px;
  margin: 0px;
}
* {
  padding: 0px;
  margin: 0px;
}
.inline {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}
.zeroHeight {
  position: relative;
  height: 0px;
}
.topAlign {
  vertical-align: top;
}
.fullFrame {
  width: 100%;
  height: 100%;
}
.noOverflow {
  overflow: hidden;
}
.fontMenu {
  font-family: 'Days One', sans-serif;
}
.fontMenu2 {
  font-family: 'Noto Sans', sans-serif;
}
.fontText {
  font-family: 'Roboto', sans-serif;
}
.roundTopRight {
  border-top-right-radius: 5px;
}
.roundBottomRight {
  border-bottom-right-radius: 5px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  background: #0f2423;
  color: #FFFFFF;
  position: relative;
  overflow-y: hidden;
}
#header {
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #82aba8;
}
#footer {
  height: 50px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: #82aba8;
  position: absolute;
  -webkit-transition: margin 0.4s ease;
  transition: margin 0.4s ease;
}
#content {
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
  padding-bottom: 100px;
  overflow-x: hidden;
}
#title {
  display: inline-block;
  float: right;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2em;
  height: 100%;
  background: none;
  padding-right: 10px;
  max-width: 300px;
  overflow: hidden;
  cursor: pointer;
}
#titleSpan {
  float: left;
  margin-top: 5px;
}
#menuSelect {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2em;
  height: 100%;
  background: #82aba8;
  border: none;
  color: #edfffc;
}
#menuSelect option {
  background: #589c9b;
}
#contentPage {
  height: 100%;
  margin: 0px;
  overflow-y: auto;
}
#itemTable {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  margin: 0px;
  margin-left: 0px;
  border-collapse: collapse;
  -webkit-transition: margin 0.4s ease;
  transition: margin 0.4s ease;
}
#itemContent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#itemListCell {
  position: relative;
  width: 0px;
  background: #589c9b;
}
#itemListContainer {
  display: none;
  position: absolute;
  top: 0px;
  right: -200px;
  width: 200px;
  height: 100%;
  background: #346661;
  overflow-y: auto;
}
#itemInput {
  box-sizing: border-box;
  padding: 5px;
  width: 190px;
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #0f2423;
  border: 1px solid #edfffc;
  margin: 5px;
  background: #edfffc;
}
.selectItem {
  width: 190px;
  box-sizing: border-box;
  height: 30px;
  font-size: 1em;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.selectItem:hover {
  background: #af6b53;
}
#playControls {
  height: 35px;
  width: 100%;
}
#progressBars {
  box-sizing: border-box;
  background: #edfffc;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}
#progressBars a {
  width: 10px;
  height: 14px;
  border-radius: none;
  border: #82aba8;
  top: 0px;
  margin-left: -5px;
  background: #b7d6d6;
}
.playControl {
  float: left;
  font-size: 1.5em;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-left: 3px;
  margin: 0px;
  margin-top: 5px;
  font-family: 'Days One', sans-serif;
  color: #edfffc;
  cursor: pointer;
}
.playControl:hover {
  background: #af6b53;
}
.volumeContainer {
  float: left;
  border-left: 1px solid #edfffc;
  height: 30px;
  margin-top: 2px;
  margin-left: 10px;
}
.volumeContainer img {
  float: left;
  width: 35px;
  height: 35px;
  margin-top: -2px;
}
#volumeSlider {
  margin-top: 10px;
  float: left;
  width: 200px;
  margin-top: 8px;
  background: #edfffc;
}
#volumeSlider a {
  width: 10px;
  height: 14px;
  border-radius: none;
  border: #82aba8;
  top: 0px;
  margin-left: -5px;
  background: #b7d6d6;
}
#playbackContainer {
  display: none;
  height: 200px;
  width: 100%;
  background: #82aba8;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 100;
}
#playbackArrow {
  position: absolute;
  right: 5px;
  top: 0px;
  cursor: pointer;
}
.playbackTable {
  table-layout: fixed;
  width: 100%;
}
.playingSongImageCell {
  width: 145px;
}
#playingSongImage {
  margin-top: 10px;
  margin-left: 10px;
  width: 135px;
  height: 135px;
}
#playingSongsContainer {
  width: 100%;
  height: 200px;
  position: relative;
}
#playingSongs {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #346661;
  overflow-y: auto;
}
#playingSongTitle {
  font-family: 'Roboto', sans-serif;
  color: #edfffc;
  font-size: 1em;
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-align: center;
}
#playingSongArtist {
  font-family: 'Roboto', sans-serif;
  color: #edfffc;
  font-size: 1em;
  text-align: center width: 100 %;
  height: 20px;
  overflow: hidden;
  text-align: center;
}
.playingSong {
  font-family: 'Roboto', sans-serif;
  color: #edfffc;
  font-size: 1em;
  padding: 2px;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
}
.playingSong:hover {
  background: #af6b53;
}
