.hidden {
  display: none;
}
.noPadding {
  padding: 0px;
  margin: 0px;
}
* {
  padding: 0px;
  margin: 0px;
}
.inline {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}
.zeroHeight {
  position: relative;
  height: 0px;
}
.topAlign {
  vertical-align: top;
}
.fullFrame {
  width: 100%;
  height: 100%;
}
.noOverflow {
  overflow: hidden;
}
.fontMenu {
  font-family: 'Days One', sans-serif;
}
.fontMenu2 {
  font-family: 'Noto Sans', sans-serif;
}
.fontText {
  font-family: 'Roboto', sans-serif;
}
.roundTopRight {
  border-top-right-radius: 5px;
}
.roundBottomRight {
  border-bottom-right-radius: 5px;
}
.searchResult {
  background: #346661;
  width: 100%;
}
.searchItemTableContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px 5px 10px;
}
.searchItemTable {
  position: relative;
  width: 100%;
  height: 100px;
  table-layout: fixed;
  background: #edfffc;
  color: #0f2423;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border-collapse: collapse;
  border: 1px solid #589c9b;
}
.searchItemTable td {
  vertical-align: middle;
  text-align: center;
}
.searchItemImage {
  width: 100px;
}
.searchItemImage img {
  width: 100px;
  height: 100px;
}
.searchItemOptionContainer {
  width: 50px;
  background: #82aba8;
  color: #edfffc;
  cursor: pointer;
}
.searchItemOptionContainerFocused {
  background: #af6b53;
}
.searchItemTitle {
  height: 50px;
}
#searchOptionContainer {
  display: none;
  position: absolute;
  padding: 5px;
  left: 50%;
  bottom: 60px;
  height: 35px;
  background: #346661;
  margin-left: -187.5px;
  border-radius: 3px;
  border: 1px solid #589c9b;
}
.searchOption {
  width: 35px;
  height: 35px;
  float: left;
  cursor: pointer;
}
.searchOption:hover {
  background: #af6b53;
}
#searchAddToPlaylist {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5em;
  padding-left: 5px;
  padding-right: 5px;
  color: #edfffc;
}
#searchAddToPlaylist:hover {
  background: #af6b53;
  cursor: pointer;
}
#searchPlaylistList {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  background: #589c9b;
  color: #edfffc;
}
#searchPlaylistList option {
  background: #589c9b;
}
